body{
    background-color: rgba(57, 2, 255, 0.123);
    font-family: "Segoe UI", Tahoma, sans-serif;
    margin: 0px;
}

#main-page{
    text-align: center;
    margin-bottom: 100px;
}

#main-icon{
    max-width: 150px;
    width: 25%;
}

#main-text-box{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

#text-box{
    font-size: 25px;
    width: 40%;
    margin: 5%;
    display: inline-block;
    vertical-align: middle;
}

#main-screenshot{
    width: 30%;
    margin: 5%;
    display: inline-block;
    vertical-align: middle;
}

#screenshot{
    width: 100%;
    border: 3px solid gray;
    border-radius: 4px;
}

#main-link-box{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.extension-box{
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    margin: 2%;
    padding: 2%;
}

.extension-text{
    margin-bottom: 4%;
    color: darkcyan;
    font-weight: bold;
    font-size: large;
}

#footer{
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

#server{
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    background-color: grey;
}

#footer-box{
    background-color: darkorchid;
    margin: 0px;
    width: 100%;
    bottom: 0px;
    padding: 1%;
}

#copyright{
    width: 30%;
    display: inline-block;
    padding-left: 5%;
    color:white;
}

#footer-link{
    width: 60%;
    display: inline-block;
    text-align: right;
}

.link{
    display: inline-block;
    padding-left: 2%;
}

.link a:link{
    color: white;
}

.link a:visited{
    color: white;
}

.link a:hover{
    color: rgb(36, 36, 36);
}

.link a:active{
    color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
    #text-box{
        width: 80%;
    }
    #main-screenshot{
        width: 60%;
    }
    .extension-box{
        width: 80%;
    }
}